* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}

h1 {
    font-size: 3rem;
    font-family: 'Cormorant', serif;
    color: white;
}

h2 {
    color: white;
    font-family: 'Cormorant', serif;
    font-size: 2.2rem;
}

p {
    color: white;
    font-family: 'Cormorant', serif;
    font-size: 1.4rem;
    max-width: 50%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
}

/* 
body {
    background-color: rgb(7, 7, 7);
}

h1 {
    font-family: 'Cormorant', serif;
    color: whitesmoke;
    font-size: 3.4rem;
    text-align: center;
}

h2 {
    font-family: 'Cormorant', serif;
    color: whitesmoke;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
} 

p {
    font-family: 'Cormorant', serif;
    color: whitesmoke;
    font-size: 1.7rem;
    text-align: center;
    margin: 35px;
}

footer {
    display: flex;
    justify-content: center;
}
a {
    font-family: 'Cormorant', serif;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.img-container {
    display: flex;
    justify-content: center;
}
 */